body {
    background-image: url(../images/bg.jpg);
    background-size: cover;
}
.title {
    backdrop-filter: blur(5px);
    box-shadow: 2px 2px 8px black;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    color: white;
    text-align: center;
}
.title:hover {
    box-shadow: 2px 2px 20px black;
}
.list {
    backdrop-filter: blur(5px);
    border: 1px solid black;
    transition: all 0.3s ease-in-out;
    box-shadow: 2px 2px 5px black;
    font-size: 20px;
    color: white;
    margin: 20px;
}
.list:hover {
    box-shadow: 2px 2px 12px black
}
.description {
    color: white;
    font-size: 20px;
}
.header {
    font-size: 40px;
    transition: all 0.3s ease-in-out;
}
.header:hover {
    text-shadow: 2px 2px 8px black;
}
.main-button {
    border: 2px solid black;
    transition: all 0.3s ease-in-out;
    background-color: black;
    font-size: 25px;
    display: inline-block;
    margin-left: 20px;
    margin-top: 70px;
    text-align: center;
    font-family: verdana;
    padding: 10px;
    color: white;
    text-decoration: none;
    box-shadow: 1px 1px 8px black;
    text-decoration-color: white;
}
.main-button:hover {
    box-shadow: 1px 1px 20px black;
    text-decoration: none;
    font-size: 27px;
    background-color: white;
    color: black;
}